<p>чек лузеров</p>
<div class="toggleBadGrade" >
  <input class="tgl tgl-skewed" id="cb3" type="checkbox" (click)="toggleBadGrade()"/>
  <label class="tgl-btn" data-tg-off="OFF" data-tg-on="ON" for="cb3"></label>
</div>


<input type="text" placeholder="ср балл" [(ngModel)]="markForFiltering" (ngModelChange)="splitFiltering()">
<input type="date" placeholder="др" [(ngModel)]="dateForFiltering" (ngModelChange)="splitFiltering()">


<input type="text" class="input"  [(ngModel)]="inputValue">


<table *ngIf="students.length !== 0; else notFoundMess;">
  <tr>
    <th>ID
      <span (click)="sortStud('id', false);"
         [class.light]="(fieldName==='id' && descending)"
      >▼</span>
      <span (click)="sortStud('id', true);"
         [class.light]="(fieldName==='id' && ascending)"
      >▲</span>
    </th>
    <th >Фамилия
      <span (click)="sortStud('surname', false);"
         [class.light]="(fieldName==='surname' && descending)"
      >▼</span>
      <span (click)="sortStud('surname', true);"
         [class.light]="(fieldName==='surname' && ascending)"
      >▲</span>
    </th>
    <th>Имя
      <span (click)="sortStud('name', false);"
         [class.light]="(fieldName==='name' && descending)"
      >▼</span>
      <span (click)="sortStud('name', true);"
         [class.light]="(fieldName==='name' && ascending)"
      >▲</span>
    </th>
    <th>Отчество
      <span (click)="sortStud('patronymic', false);"
         [class.light]="(fieldName==='patronymic' && descending)"
      >▼</span>
      <span (click)="sortStud('patronymic', true);"
         [class.light]="(fieldName==='patronymic' && ascending)"
      >▲</span>
    </th>
    <th>Дата рождения
      <span (click)="sortStud('birthday', false);"
         [class.light]="(fieldName==='birthday' && descending)"
      >▼</span>
      <span (click)="sortStud('birthday', true);"
         [class.light]="(fieldName==='birthday' && ascending)"
      >▲</span>
    </th>
    <th>Средний балл
      <span (click)="sortStud('averageMark', false);"
         [class.light]="(fieldName==='averageMark' && descending)"
      >▼</span>
      <span (click)="sortStud('averageMark', true);"
         [class.light]="(fieldName==='averageMark' && ascending)"
      >▲</span>
    </th>
    <th>Опции</th>
  </tr>
  <tr *ngFor="let student of students;" [ngClass]="{isFound: findStud(student)}">
    <td>{{student.id}}</td>
    <td>{{student.surname}}</td>
    <td>{{student.name}}</td>
    <td>{{student.patronymic}}</td>
    <td>{{student.birthday.toLocaleDateString() }}</td>
    <td [ngClass]="{badGrade: student.averageMark <= 3 && isBadGrade}">{{student.averageMark}}</td>
    <td>
      <app-edit-form></app-edit-form>
      <div class="delete" (click)="isActivePopup=true; delStud = student" >
        <button class="delete__button">&times;</button>
      </div>
    </td>
  </tr>
</table>
<ng-template #notFoundMess>По данному фильтру студентов не найдено</ng-template>


<div class="popup" [ngClass]="{'popup_active' : isActivePopup}">
  <div id="confirm" class="confirm">
    <div (click)="isActivePopup = false" class="close">&times;</div>
    <h2>Внимание</h2>
    <hr>
    <p>Вы действительно хотите удалить этого студента?</p>
    <p>{{delStud.surname}} {{delStud.name}}</p>
    <button class="confirm__button" (click)="removeStud(delStud); isActivePopup = false">Удалить</button>
    <button class="confirm__button confirm__button_cancel" (click)="isActivePopup = false">Оставить</button>
  </div>
</div>

