<div class="popup">
  <div class="popup-form">
    <div (click)="emitClosePopup()" class="close">&times;</div>
    <h2>Добавление нового студента</h2>
    <hr>
    <form novalidate
          [formGroup]="addStudentForm"
          (ngSubmit)="createStud()"
    >
      <div formGroupName="fullName">
        <div class="form-control">
          <input id="surname" type="text" placeholder="Фамилия.."
                 formControlName="surname"
                 class="form-control__input"
                 [class.restricted-full-name]="addStudentForm.get('fullName').errors && addStudentForm.get('fullName').errors.restrictedFullName">
          <div *ngIf="addStudentForm.get('fullName').get('surname').invalid && addStudentForm.get('fullName').get('surname').touched"
               class="validation">
            <small *ngIf="addStudentForm.get('fullName').get('surname').errors.required">
              Поле 'Фамилия' обязательно для заполнения!
            </small>
            <small *ngIf="addStudentForm.get('fullName').get('surname').errors.pattern">
              Фамилия должна состоять только из букв и начинаться с заглавной!
            </small>
          </div>
        </div>

        <div class="form-control">
          <input id="name" type="text" placeholder="Имя.."
                 formControlName="name"
                 class="form-control__input"
                 [class.restricted-full-name]="addStudentForm.get('fullName').errors && addStudentForm.get('fullName').errors.restrictedFullName">
          <div *ngIf="addStudentForm.get('fullName').get('name').invalid && addStudentForm.get('fullName').get('name').touched"
               class="validation">
            <small *ngIf="addStudentForm.get('fullName').get('name').errors.required">
              Поле 'Имя' обязательно для заполнения!
            </small>
            <small *ngIf="addStudentForm.get('fullName').get('name').errors.pattern">
              Имя должно состоять только из букв и начинаться с заглавной!
            </small>
          </div>
        </div>

        <div class="form-control">
          <input id="patronymic" type="text" placeholder="Отчество.."
                 formControlName="patronymic"
                 class="form-control__input"
                 [class.restricted-full-name]="addStudentForm.get('fullName').errors && addStudentForm.get('fullName').errors.restrictedFullName">
          <div *ngIf="addStudentForm.get('fullName').get('patronymic').invalid && addStudentForm.get('fullName').get('patronymic').touched"
               class="validation">
            <small *ngIf="addStudentForm.get('fullName').get('patronymic').errors.required">
              Поле 'Отчество' обязательно для заполнения!
            </small>
            <small *ngIf="addStudentForm.get('fullName').get('patronymic').errors.pattern">
              Фамилия должна состоять только из букв и начинаться с заглавной!
            </small>
          </div>
        </div>

      </div>

      <div *ngIf="addStudentForm.get('fullName').invalid && addStudentForm.get('fullName').touched"
           class="validation">
        <small *ngIf="addStudentForm.get('fullName').errors && addStudentForm.get('fullName').errors.restrictedFullName">
          Имя не должно совпадать ни с фамилией, ни с отчеством!
        </small>
      </div>

      <div class="form-control">
        <input id="birthday" type="date" placeholder="Дата рождения.."
               formControlName="birthday"
               class="form-control__input"
        >
        <div *ngIf="addStudentForm.get('birthday').invalid && addStudentForm.get('birthday').touched"
             class="validation">
          <small *ngIf="addStudentForm.get('birthday').errors.required">
            Поле 'Дата рождения' обязательно для заполнения!
          </small>
          <small *ngIf="addStudentForm.get('birthday').errors.restrictedDOF">
            Пользователь должен быть старше 10 лет!
          </small>
        </div>
      </div>

      <div class="form-control">
        <input id="averageMark" type="text" placeholder="Средний балл.."
               formControlName="averageMark"
               class="form-control__input"
        >
        <div *ngIf="addStudentForm.get('averageMark').invalid && addStudentForm.get('averageMark').touched"
             class="validation">
          <small *ngIf="addStudentForm.get('averageMark').errors.required">
            Поле 'Средний балл' обязательно для заполнения!
          </small>
          <small *ngIf="
        addStudentForm.get('averageMark').errors.pattern ||
        addStudentForm.get('averageMark').errors.min ||
        addStudentForm.get('averageMark').errors.max">
            Средний балл может быть только числом от 0 до 5!
          </small>
        </div>
      </div>

      <button class="popup-form__button" type="submit"
              [ngClass]="{'no-valid-btn' : addStudentForm.invalid}">
        Добавить
      </button>
      <button class="popup-form__button popup-form__button-cancel" type="reset" (click)="resetForm()">
        Очистить
      </button>
    </form>
  </div>
</div>
